@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@1&display=swap');


* {
  font-family: 'Ubuntu Mono', monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

}

body {
  background-color: #eaeae8;
}